h1{
    
    font-family:elephant;
}
.text{
    text-align: center;
    text-align-last: center;
}
.indent{
    text-indent: 80px;
}
.wordspacing{
    word-spacing: 10px;
    letter-spacing: 5px;
}
.textdec{
    text-decoration: none;
}
.textdecolor{
    text-decoration-color: darkorange;
    text-decoration-style: double;
}
.textshadow{
    text-shadow:-25px -8px 2px blue;
    font-size: 40px;
    text-align: center;
}
.boxsize{
    box-sizing: border-box;
    padding: 20px;
    border: 2px;
}
.bordershadow{
    border: solid red;
    box-shadow: 0px 20px 30px 4px blue;
}
.boxsize{
    border: 2px solid red;
    border-radius: 60px;
}